:root {
  --md-sys-color-primary: rgb(7 103 127);
  --md-sys-color-surface-tint: rgb(7 103 127);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(183 234 255);
  --md-sys-color-on-primary-container: rgb(0 31 40);
  --md-sys-color-secondary: rgb(0 104 116);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(158 239 253);
  --md-sys-color-on-secondary-container: rgb(0 31 36);
  --md-sys-color-tertiary: rgb(87 89 146);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(225 224 255);
  --md-sys-color-on-tertiary-container: rgb(18 20 75);
  --md-sys-color-error: rgb(186 26 26);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(255 218 214);
  --md-sys-color-on-error-container: rgb(65 0 2);
  --md-sys-color-background: rgb(245 250 253);
  --md-sys-color-on-background: rgb(23 28 31);
  --md-sys-color-surface: rgb(245 250 253);
  --md-sys-color-on-surface: rgb(23 28 31);
  --md-sys-color-surface-variant: rgb(219 228 232);
  --md-sys-color-on-surface-variant: rgb(64 72 76);
  --md-sys-color-outline: rgb(112 120 124);
  --md-sys-color-outline-variant: rgb(191 200 204);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(44 49 52);
  --md-sys-color-inverse-on-surface: rgb(237 241 244);
  --md-sys-color-inverse-primary: rgb(136 209 236);
  --md-sys-color-primary-fixed: rgb(183 234 255);
  --md-sys-color-on-primary-fixed: rgb(0 31 40);
  --md-sys-color-primary-fixed-dim: rgb(136 209 236);
  --md-sys-color-on-primary-fixed-variant: rgb(0 78 97);
  --md-sys-color-secondary-fixed: rgb(158 239 253);
  --md-sys-color-on-secondary-fixed: rgb(0 31 36);
  --md-sys-color-secondary-fixed-dim: rgb(130 211 224);
  --md-sys-color-on-secondary-fixed-variant: rgb(0 79 88);
  --md-sys-color-tertiary-fixed: rgb(225 224 255);
  --md-sys-color-on-tertiary-fixed: rgb(18 20 75);
  --md-sys-color-tertiary-fixed-dim: rgb(192 193 255);
  --md-sys-color-on-tertiary-fixed-variant: rgb(63 65 120);
  --md-sys-color-surface-dim: rgb(214 219 222);
  --md-sys-color-surface-bright: rgb(245 250 253);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(239 244 247);
  --md-sys-color-surface-container: rgb(234 239 241);
  --md-sys-color-surface-container-high: rgb(228 233 236);
  --md-sys-color-surface-container-highest: rgb(222 227 230);
}

@font-face {
	font-family: "Material Symbols Outlined";
	font-style: normal;
	src: url(material-symbols.woff2) format("woff2");
}

.material-symbols-outlined {
	font-family: "Material Symbols Outlined";
	font-weight: normal;
	font-style: normal;
	font-size: 30px;
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
	font-variation-settings: "FILL" 0, "WGHT" 900;
}

.material-symbols-filled {
	font-family: "Material Symbols Outlined";
	font-weight: normal;
	font-style: normal;
	font-size: 30px;
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
	font-variation-settings: "FILL" 1, "WGHT" 900;
}

body{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  margin: 0;
	padding: 0;
}

main{
  background-color: var(--md-sys-color-surface-container-lowest);
  z-index: 0;
  min-height: 80vh;
  padding: 3em;
  grid-area: main;
}

h3{
  margin: 0;
  margin: 0.5em 0;
}

table{
  width: 100%;
  border-collapse: collapse;
  margin-top: 1em;
}

th{
  background-color: #f9f9f9;
  padding: 0.5em;
  border: 1px solid lightgray;
}

td{
  padding: 0.5em;
  border: 1px solid lightgray;
}

.denyButton{
  color: red;
  text-align: center;
}

.approveButton{
  color: green;
  text-align: center;
}

.blackButton{
  color: black;
}

table.optiontable {
  width: 100%;
  table-layout: fixed;
}

table.optiontable td, table.optiontable th{
  width: auto;
  text-align: center;
}

tr:nth-child(even){
  background-color: #f9f9f9;
}

tr:nth-child(odd){
  background-color: #f0f0f0;
}

.greenRole{
  background-color: rgba(52, 240, 52, 0.527);
}

.redRole{
  background-color: rgba(255, 107, 107, 0.664);
}

.materialButton{
  display: flex;
  justify-content: center;
  align-items: center;
}

.materialButton a{
  text-decoration: none;
  color: black;
}

div.container{
  position: relative;
  padding:  1em;
  width: 100%;
  box-sizing: border-box;
  border-radius: 1em;
  margin: 1em 0;
}

.primaryContainer{
  background-color: var(--md-sys-color-primary-container);
  color: var(--md-sys-color-on-primary-container);

  transition: all 0.2s;
}

.secondaryContainer{
  background-color: var(--md-sys-color-secondary-container);
  color: var(--md-sys-color-on-secondary-container);

  transition: all 0.2s;
}

.tertiaryContainer{
  background-color: var(--md-sys-color-tertiary-container);
  color: var(--md-sys-color-on-tertiary-container);

  transition: all 0.2s;
}

a.secondaryContainer:hover{
  opacity: 0.6;
}

a.tertiaryContainer:hover{
  opacity: 0.6;
}

a.articleContainer{
  position: relative;
  display: block;
  text-decoration: none;
  padding: 1em;
  border-radius: 1em;
  margin-bottom: 1em;
  transition: all 0.2s;
}

a.articleContainer:hover{
  opacity: 0.6;
}

div.loginContainer{
  padding: 1em;
  width: 40%;
  box-sizing: border-box;
  border-radius: 1em;
  margin-top: 3em;
  margin-bottom: 3em;
  margin-left: auto;
  margin-right: auto;
}

.errorContainer{
  background-color: var(--md-sys-color-error-container);
  color: var(--md-sys-color-on-error-container);
  padding: 1em;
  width: 100%;
  box-sizing: border-box;
  border-radius: 1em;
  margin-bottom: 1em;
  font-weight: bold;
}

.successContainer{
  background-color: #90EE90;
  color: black;  
  padding: 1em;
  width: 100%;
  box-sizing: border-box;
  border-radius: 1em;
  margin-bottom: 1em;
  font-weight: bold;
}

.statusContainer{
  padding: 1em;
  width: 100%;
  box-sizing: border-box;
  border-radius: 1em;
  margin-bottom: 1em;
  font-weight: bold;
}

.waiting{
  background-color: #ffee90;
  color: black;
  text-decoration: none;
}

.approved{
  background-color: #90EE90;
  color: black;
  text-decoration: none;
}

.denied{
  background-color: #ffcccb;
  color: black;
  text-decoration: none;
}

.deleted{
  background-color: #ffb87e;
  color: black;
  text-decoration: none;
}

.categoryHeader{
  display: flex;
  align-items: center;
}

.categoryHeader span{
  font-size: 1.2em;
}

.imageContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.imageContainer img {
  height: 300px;
  margin: 10px;
  object-fit: cover;
}

.imgContainer{
  position: relative;
}

.deleteImage{
  transition: all 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
  top: 0;
  background-color: lightgray;
  color: black;
  padding: 0.5em;
  border-radius: 1em;
  cursor: pointer;
}

.filterButton{
  position: absolute;
  right: 16px;
  top: 36px;
  cursor: pointer;
}

.filterTitle{
  cursor: pointer;
}

form{
  margin-top: 1em;
}

label{
  display: block;
  font-weight: 800;
}

.checkboxLabel{
  display: inline;
}

.changePasswordLabel, .changePasswordText{
  margin-bottom: 1em;
}

input[type="text"], input[type="password"], input[type="email"], input[type="number"]
{
  width: 100%;
  padding: 0.7em;
  margin: 0.5em 0;
  background-color: var(--md-sys-color-surface-container);
  border: 0.1em solid var(--md-sys-color-outline);
  border-radius: 0.5em;
  box-sizing: border-box;
  font-size: 1.2em;
}

input[type="file"]
{
  width: 100%;
  padding: 0.7em;
  margin: 0.5em 0;
  background-color: var(--md-sys-color-surface-container);
  border: 0.1em solid var(--md-sys-color-outline);
  border-radius: 0.5em;
  box-sizing: border-box;
  font-size: 1.2em;
  font-family: "Raleway", sans-serif;
  margin-bottom: 2em;
}

select{
  width: 100%;
  padding: 0.7em;
  margin: 0.5em 0;
  background-color: var(--md-sys-color-surface-container);
  border: 0.1em solid var(--md-sys-color-outline);
  border-radius: 0.5em;
  box-sizing: border-box;
  font-size: 1.2em;
}

button[type="submit"], .button
{
  font-family: "Raleway", sans-serif;
  text-align: center;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0.7em;
  margin: 1em 0;
  border-radius: 2em;
  border: none;
  box-sizing: border-box;
  font-size: 1.2em;
  cursor: pointer;
  transition: all 0.3s;
}

button[type="submit"]:hover, .button:hover
{
  opacity: 0.6;
}

textarea{
  width: 100% !important;
  box-sizing: border-box;
  padding: 0.7em;
  margin: 0.5em 0;
  background-color: var(--md-sys-color-surface-container);
  border: 0.1em solid var(--md-sys-color-outline);
  border-radius: 0.5em;
  font-family: inherit;
  font-size: 1.1em;
}

.reqStar{
  color: red;
  font-size: 1.2em;
}

.articleDetailsContainer{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.openArticle{
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
}

.fileContainer{
  display: flex;
  justify-content: left;
  gap: 1em;
  flex-wrap: wrap;
  margin-bottom: 3em;
}

.fileButton{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.2em;
  width: 12em;
  height: 12em;
  background-color: var(--md-sys-color-primary-container);
  color: var(--md-sys-color-on-primary-container);
  text-decoration: none;
  padding: 0.5em;
  border-radius: 1em;
  transition: all 0.2s;
}

.file{
  position: relative;
}

.fileButton:hover{
  opacity: 0.6;
}

nav{
  background-color: var(--md-sys-color-surface-container);
	grid-area: nav;
	height: 100%;
}

nav ul {
  margin-top: 8em;
	list-style-type: none;
	padding: 0;
	text-align: center;
}

nav ul li {
	margin-top: 20px;
	margin-bottom: 20px;
}

nav ul li a {
	text-decoration: none;
	color: var(--md-sys-color-on-surface);
}

.menuIcon {
	transition: 0.3s;
	border-radius: 1em;
	width: 2em;
}

.menuText {
	padding-top: 10px;
	padding-bottom: 10px;
}

nav ul li a:hover .menuIcon {
	background-color: var(--md-sys-color-primary-container);
	color: var(--md-sys-color-on-primary-container);
}

header{
  grid-area: header;
  background-color: var(--md-sys-color-surface-container-highest);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1em;
  min-height: 8em;
  position: relative;
}

.headerDS{
  grid-area: headerDS;
  background-color: var(--md-sys-color-surface-container-highest);
}

.sessionInfo{
  position: absolute;
  right: 1em;
  text-align: center;
}

header img{
  position: absolute;
  left: 1em;
  height: 8em;
}

header h1{
  /* font-size: 3em; */
  margin: 0;
}

footer{
  background-color: var(--md-sys-color-on-secondary-container);
  color: var(--md-sys-color-secondary-container);
  grid-area: footer;
  min-height: 10em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 1;
}

/* HIDE/SHOW SECTION */
#section{
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.rotated{
  transform: rotate(180deg);
}

.rotate{
  animation: rotate 0.2s forwards;
}

.deRotate{
  animation: deRotate 0.2s forwards;
}

@keyframes rotate{
  from{
      transform: rotate(0deg);
  }
  to{
      transform: rotate(180deg);
  }
}

@keyframes deRotate{
  from{
      transform: rotate(180deg);
  }
  to{
      transform: rotate(0deg);
  }
}

